<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<form>
<ion-item >
  <ion-label color="light">Email</ion-label>
  <ion-input color="light" type="mail" placeholder="Adresse email"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="light">Mot de passe</ion-label>
  <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
</ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit"color="light" expand="block" shape="round" fill="outline" (click)=MonClickLogin()>Connexion</ion-button>
      </ion-col>
    </ion-row>
</form>

</ion-content>

